.history-list {
  width: 100%;
  padding-top: 2px;
  overflow: auto;
  transition-duration: .3s;
}

.history-button{
  color: #ffffff;
  padding: 4px 8px;
  display: none;
}

.history-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 12px;
  margin: 2px 2px 0px 2px;
}

.history-item.red {
  background-image: linear-gradient(to right, #23161f, #171721);
  color: red;
}

.history-item.green {
  background-image: linear-gradient(
    to right,
    #182120,
    #151821
  );
  color: green;
}

@media(max-width: 768px){
  .history-button{
    display: block;
  }

  .history-list{
    max-height: 0;
  }

  .list-expanded{
    max-height: 100vh;
  }
}